@import "../Common/global.scss";
@import "header-nav.scss";

body.search {
	.search__clear-button {
		@include sectionVisible();
	}
}

.header__desc {
	width: 90%;
	height: auto;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 50%;
	@include translate(0, -50%);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	max-width: 600px;
}


header {
	@include boxSizing(border-box);
	background-image: url(/Content/Images/concert-photo.jpg);
	background-size: cover;
	background-position: center;
	height: 72vw;
	max-height: 380px;
	overflow: hidden;
}


.search-container {
	display: inline-block;
	width: 100%;
	height: 38px;
	position: relative;
	@extend %clearfix;

}

.search-input {
	width: calc(100% - 36px);
	float: left;
	position: relative;
	input {
		width: 100%;
		padding: 2px 40px 2px 6px;
		outline: none;
		position: relative;
		text-indent: 4px;
		@include boxSizing(border-box);
		font-family: $fontFamily;
		font-size: $baseFontSize;
		border: 1px solid lighten($siteColorPrimary, 30%);
	}

	img {
		width: 20px;
		height: auto;
		position: absolute;
		top: 6px;
		right: 6px;
	}
}

.search__clear-button {
	border: none;
	background-color: lighten($siteColorPrimary, 20%);
	font-family: $fontFamily;
	padding: 10px;
	font-size: $baseFontSize;
	display: block;
	float: right;
	position: relative;
	top: 2px;
	line-height: 10px;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	@include sectionHidden();
	@extend %transition-opacity;

} 



.heading {
	@extend %header-style;
	font-size: $h1FontSize;
	margin: 0 4px;

	span {
		font-size: $h1FontSize - 4px;
	}
}


.sub-heading {
	@extend %header-style;
	font-size: $h2FontSize;
	background: rgba(black, 0.8);
	padding: 0 10px;
	margin: 0;
	display: inline-block;
	float: left;
}


.header__logo {
	margin-left: 10px;

	img {
		width: 20px;
		height: auto;
		margin-right: 10px;
		position: relative;
		top: 4px;
	}

}

@include respond-to(mobile-down) {

	.sub-heading {
		font-size: $h2FontSizeMobile;
	}

}

@include respond-to(tablet-down) {
	.heading {
		display: none;
	}
}