@import "../Common/global.scss";


.header__nav {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: rgba(black, 0.7);
	box-sizing: border-box;


	a {
		color: white;
		text-decoration: none;
		@include transition(color 0.4s ease-in);
		&:active, &:focus, &:hover {
			text-decoration: none;
			color: $siteColorPrimary;
		}
	}
}

.header__nav-list {
	margin: 0;
	padding: 0;
	float: right;
	list-style-type: none;
}

.header__nav-list-item {
	float: left;
	letter-spacing: normal;
	margin-right: 20px;
	font-size: $h2FontSizeMobile;
}


.header__nav-switch {
	position: absolute;
	top: 10px;
	left: -9999px;
	z-index: -1;
}

.header__nav-switch-label {
	display: none;
	position: absolute;
	width: 20px;
	z-index: 10;
	cursor: pointer;
	img {
		width: 100%;
		height: auto;
	}
}

.header__nav-img-checked {
	display: none;
}

@include respond-to(tablet-down) {
	
	.header__nav-switch-label {
		display: block;
		right: 10px;
		top: 10px;
	}

	.header__nav {
		background-color: transparent;
	}

	.header__nav-list {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		@include sectionHidden();
		background-color: $siteColorDark;
		@include transition(all 0.4s ease-in);
		will-change: opacity;
	}

	.header__nav-list-item {
		display: block;
		float: none;
		text-align: right;
		margin-right: 10px;
	}

	input.header__nav-switch {

		&:checked ~ {

			.header__nav-list  {
				@include sectionVisible();
				padding: 40px 0 20px 0;
			}

			.header__nav-switch-label img {
				display: none;
			}

			.header__nav-switch-label img.header__nav-img-checked {
				display: block;
			}

		}
	}

}