@import "../Common/global.scss";
@import "./header.scss";
@import "./movies.scss";
@import "./footer.scss";
@import "../Features/infinite-scrolling.scss";

body {
	width: 100%;
	display: block;
	margin: 0;
	font-family: $fontFamily;
	
}

.container {
	width: 100%;
	max-width: $desktop;
	display: block;
	padding: 10px 0;
	position: relative;
	@extend %clearfix;
	@include boxSizing(border-box);
	margin-left: auto;
	margin-right: auto;
}

section {
	margin: 150px auto 100px auto;
}
