@import "../Common/global.scss";


.movies {
	@extend %clearfix;
	display: block;
	width: 100%;
	position: relative;
	
}

.movies__list {
	margin:0;
	padding: 0;
}

.movies-item {
	display: block;
	width: 100%;
	margin: 0;
	padding: 24px 16px;
	float: left;
	position: relative;
	@include boxSizing(border-box);
	background-color: white;
	cursor: pointer;
	@include transition(background-color 0.4s ease-in);

	&:hover {
		background-color: rgba($siteColorSecondary, 0.1);
	}

	&.active {
		background-color: rgba($siteColorPrimary, 0.1);
	}


	&.active .extra-info {
		max-height: 4000px;
	}
}

.extra-info {
	width: 100%;
	display: block;
	max-height: 0;
	overflow: hidden;
	@include transition(max-height 0.7s ease-in-out);
}

.movies__title {
	font-size: $h1FontSize + 2px;
	font-weight: 100;
	margin: 0 0 20px 0;
}

.movies-item__review {
	width: 100%;
}

.movies-item > img {
	width: 185px;
	height: auto;
	max-height: 264px;
	float: left;
	margin-right: 20px;
}

.movies-item__title {
	font-size: $h1FontSize - 2px;
	font-weight: 100;
	margin: 10px 0 16px 0;
	color: $siteColorPrimary;
}

.movies-item__overview {
	font-size: $baseFontSize;
}

.movies-item__sub-title {
	font-weight: 100;
	font-size: $baseFontSize;
	margin: 20px 0 10px 0;
	width: 100%;
}


.movies-item__rating {
	font-size: $h1FontSize;
	color: $siteColorSecondary;
	font-weight: bold;
}

.movies-item__rating-votes {
	font-size: 14px;
	margin-left: 4px;
	color: $siteColorDiscrete;
}



.movies_now-playing {
	@include sectionVisible();
	@extend %transition-opacity;
}

.movies_search {
	@include sectionHidden();
	position: absolute;
	@extend %transition-opacity;
}

body.search {

	.movies_now-playing {
		@include sectionHidden();
		position: absolute;
	}

	.movies_search {
		@include sectionVisible();
		position: relative;
	}
}


.movies-item__similar-container  {
	@extend %clearfix;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	width: 100%;
}
.movies-item__similar {
	position: relative;
	display: block;
	flex-basis: auto;
	img {
		display: block;
		margin: 0 auto;
	}
} 

.movies-item__similar-title {
	font-size: 18px;
	font-weight: 100;
	height: 50px;
	color: $siteColorPrimary;
	text-align: center;
	margin: 10px 0 0 0;
}

.movies-item__similar-video {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 50%;

	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}



@include respond-to(tablet-up) {
	.movies-item__title {
		padding-right: 130px;
	}

	.movies-item__rating-section {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.movies-item__similar {
		flex-basis: 25%;		
	}
}

@include respond-to(mobile-to-tablet) {
	.movies-item__similar {
		flex-basis: 50%;		
	}
}

@include respond-to(tablet-down) {
	.movies-item__rating-section {
		float: right;
	}
}

@include respond-to(mobile-down) {

	.movies {
		@include boxSizing(border-box);
		padding: 0 10px;
	}

	.movies-item {
		margin-bottom: 20px;
		@include boxShadow(0 0 2px 0 #000000);

	}

	.movies-item > img {
		float: none;
		display: block;
		margin: 0 auto;
	}

	.movies__title {
		font-size: $h2FontSize;
	}

	.movies-item__title {
		text-align: center;
	}

	.movies-item__overview {
		text-align: justify;
	}

	
	.movies-item__similar {
		flex-basis: 100%;
	}
	

}

