@import "../Common/global.scss";

body {
	&.loading {

		.loader__pending {
			display: block;
		}
		.loader__loaded {
			display: none;
		}
	}
}

.loader {
	display: block;
	margin: 0 auto;
	padding: 6px 10px;
	font-size: 20px;
	text-align: center;
	color: $siteColorSecondary;
	@include boxSizing(border-box);

	img {
		width: 24px;
    	height: auto;
	    position: relative;
	    top: 6px;
	}

	&.search-full {
		.loader__loaded {
			display: none;
		}
		.loader__full {
			display: block;
		}
	}
}

body:not(.search) {
	.loader.now-playing-full {
		.loader__loaded {
			display: none;
		}
		.loader__full {
			display: block;
		}

	}
}

.loader__full {
	display: none;
}


.loader__loaded {
	display: block;
}

.loader__pending  {
	display: none;
}