$siteColorPrimary: #FF530D;
$siteColorSecondary: #4d7494;
$siteColorDark: rgb(43,43,43);
$colorHighlight: #72FF26;
$siteColorDiscrete: grey;

//screen sizes
$desktop: 1200px;
$tablet: 1000px;
$mobile: 480px;

//font
$fontFamily: 'Open Sans Condensed', sans-serif;

//font size
$baseFontSize: 20px;
$h1FontSize: 30px;
$h1FontSizeMobile: 24px;
$h2FontSize: 24px;
$h2FontSizeMobile: 18px;



//mixin
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}

@mixin translate($x, $y: 0) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin boxShadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin boxSizing($sizing) {
    -webkit-box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    box-sizing: $sizing;
}

@mixin sectionHidden() {
    opacity: 0;
    pointer-events: none;
}

@mixin sectionVisible() {
    opacity: 1;
    pointer-events: all;
}

@mixin respond-to($media) {
  @if $media == mobile-down {
    @media (max-width: $mobile) { @content; }
  }
  @else if $media == mobile-up {
    @media (min-width: $mobile + 1){ @content; }
  }
  @else if $media == mobile-to-tablet {
    @media (min-width: $mobile + 1) and (max-width: $tablet) { @content; }
  }
  @else if $media == tablet-up {
    @media (min-width: $tablet + 1) { @content; }
  }
  @else if $media == tablet-down {
    @media (max-width: $tablet) { @content; }
  }
} 

//placeholders
%transition-opacity {
    @include transition(opacity 0.4s ease-in);
}

%header-style {
  color: white;
  font-weight: 100;
  letter-spacing: 1px;
}



%clearfix{
    &:before,
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}